<p id="notice"><%= notice %></p>

<h1>Occupations</h1>

<table>
  <thead>
    <tr>
      <th>Occupation name</th>
      <th>Category</th>
      <th>Work contents</th>
      <th>How to work</th>
      <th>Under high school graduate</th>
      <th>High school graduate</th>
      <th>College graduate</th>
      <th>Number employee</th>
      <th>Working time</th>
      <th>Payment</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occupations.each do |occupation| %>
      <tr>
        <td><%= occupation.occupation_name %></td>
        <td><%= occupation.category %></td>
        <td><%= occupation.work_contents %></td>
        <td><%= occupation.how_to_work %></td>
        <td><%= occupation.under_high_school_graduate %></td>
        <td><%= occupation.high_school_graduate %></td>
        <td><%= occupation.college_graduate %></td>
        <td><%= occupation.number_employee %></td>
        <td><%= occupation.working_time %></td>
        <td><%= occupation.payment %></td>
        <td><%= occupation.age %></td>
        <td><%= link_to 'Show', occupation %></td>
        <td><%= link_to 'Edit', edit_occupation_path(occupation) %></td>
        <td><%= link_to 'Destroy', occupation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Occupation', new_occupation_path %>
