<p id="notice"><%= notice %></p>
<% content_for :title do %>
  <%=  @occupation.occupation_name + "の職業詳細 | PR-LABO" %>
<% end %>
<% breadcrumb :occupation, @occupation %>
<p>このページのコンテンツは、厚労省の<cite><a href="https://shigoto.mhlw.go.jp/User/">職業情報提供サイト</a></cite>より引用しています。</p>
<br>
<br>
<h2 class="occupation-h1"><%= @occupation.occupation_name %></h2>
<br>
<p><%= @occupation.category %></p>
<br>

<div class="box27">
    <span class="box-title">職業紹介</span>
    <p><%= simple_format(@occupation.work_contents) %></p>
</div>
<br>
<br>
<h3 class="occupation-h2"><%= @occupation.occupation_name %>として働くために</h3>
<br>
<p><%= @occupation.how_to_work %></p>
<br>
<br>
<br>
<h3 class="occupation-h2">学歴</h3>
<br>
<table class="table03">
  <tr>
    <th>高卒以下</th>
    <td><%= @occupation.under_high_school_graduate %></td>
  </tr>
  <tr>
    <th>高卒</th>
    <td><%= @occupation.high_school_graduate %></td>
  </tr>
  <tr>
    <th>大卒</th>
    <td><%= @occupation.college_graduate %></td>
  </tr>
</table>
<br>
<br>
<br>
<h3 class="occupation-h2">基本データ</h3>
<br>
<table class="table03">
  <tr>
    <th>労働者数</th>
    <td><%= @occupation.number_employee %>人</td>
  </tr>
  <tr>
    <th>労働時間</th>
    <td><%= @occupation.working_time %>時間</td>
  </tr>
  <tr>
    <th>賃金</th>
    <td><%= @occupation.payment %>万円</td>
  </tr>
  <tr>
    <th>平均年齢</th>
    <td><%= @occupation.age %>歳</td>
  </tr>
</table>

<div class="parent clearfix">
<% if params[:id].to_i > 1 %>
    <div class="left"><%= link_to '前のページへ', occupation_path(params[:id].to_i - 1) %></div>
<% end %>
<% if params[:id].to_i < 344 %>
    <div class="right"><%= link_to '次のページへ', occupation_path(params[:id].to_i + 1) %></div>
<% end %>
</div>
<br>
<br>
<%= link_to '職業一覧へ', occupations_path %>