<p id="notice"><%= notice %></p>

<p>
  <strong>Occupation name:</strong>
  <%= @occupation.occupation_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @occupation.category %>
</p>

<p>
  <strong>Work contents:</strong>
  <%= @occupation.work_contents %>
</p>

<p>
  <strong>How to work:</strong>
  <%= @occupation.how_to_work %>
</p>

<p>
  <strong>Under high school graduate:</strong>
  <%= @occupation.under_high_school_graduate %>
</p>

<p>
  <strong>High school graduate:</strong>
  <%= @occupation.high_school_graduate %>
</p>

<p>
  <strong>College graduate:</strong>
  <%= @occupation.college_graduate %>
</p>

<p>
  <strong>Number employee:</strong>
  <%= @occupation.number_employee %>
</p>

<p>
  <strong>Working time:</strong>
  <%= @occupation.working_time %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @occupation.payment %>
</p>

<p>
  <strong>Age:</strong>
  <%= @occupation.age %>
</p>

<%= link_to 'Edit', edit_occupation_path(@occupation) %> |
<%= link_to 'Back', occupations_path %>
