<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/google_tag_manager' if Rails.env.production? %>
    <%= yield :markup %>
    <%= yield :noindex %> 
    <meta name="description" content="PR-LABO(PRラボ)は、企業・NPO・研究会などあらゆる団体の情報発信を支援するWEBサービスです。インターネットに詳しくない方でも、気軽に情報を発信でき、組織の魅力を世の中に伝えられるサービスを目指しています。">
    <title><%= content_for?(:title) ? yield(:title) : "団体・組織・法人の魅力を伝えるなら | PR-LABO"%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

<p id="notice"><%= notice %></p>

<% content_for :noindex do %>
<meta name="robots" content="noindex">
<% end %>
<br>
<h1>コラム記事管理画面</h1>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>記事本文</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to '記事閲覧', article %></td>
        <td><%= link_to '記事を編集', edit_article_path(article) %></td>
        <td><%= link_to '記事削除', article, method: :delete, data: { confirm: '削除しますか？' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to '新規作成', new_article_path %>

</html>