<p id="notice"><%= notice %></p>

<% content_for :title do %>
  <%= "コラム一覧 | PR-LABO" %>
<% end %>
<% breadcrumb :articles %>
<ul class="itemlist">
<% @articles.each do |article| %>
<% image = image_tag article.img.url, :size =>'70x70' %>
	<li>
		<%= link_to image, article, class:"no-underline" %>
		<dl>
			<dt><%= link_to article.title.truncate(20), article, class:"no-underline" %></dt>
			<dd class="txt"><%= link_to strip_tags(article.text.truncate(50)), article,  class:"no-underline" %></dd>
		</dl>
	</li>
<% end %>
</ul>
<br>
<br>

