<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>
<br>
<br>
<p>執筆者：<%= @article.name %></p>
<p>公開日：<%= @article.created_at.strftime('%Y/%m/%d') %></p>
<p>最終編集日：<%= @article.updated_at.strftime('%Y/%m/%d') %></p>
<br>
<br>
<%= simple_format(@article.text) %>
<br>
<br>
<br>
<%= link_to '記事一覧', articles_path %>
