<p id="notice"><%= notice %></p>

<% content_for :title do %>
  <%= @article.title + "| PR-LABO" %>
<% end %>

<% breadcrumb :article, @article %>

<div class="article-element">
<div class="article-element-child">
<h1 class="article-h1"><%= @article.title %></h1>
<br>
<br>
<p class="article-hosoku">執筆者：<%= @article.name %></p>
<p class="article-hosoku">公開日：<%= @article.created_at.strftime('%Y/%m/%d') %></p>
<p class="article-hosoku">最終編集日：<%= @article.updated_at.strftime('%Y/%m/%d') %></p>
<br>
<br>
<%= simple_format(@article.text.gsub(/<h2>/, '<h2 class="article-h2">').gsub(/<h3>/, '<h3 class="article-h3">').gsub(/<h4>/, '<h4 class="article-h4">')) %>
<br>
<br>
</div>
</div>