<% content_for :title do %>
  <%= "法人情報掲載ならPR-LABO" %>
<% end %>

<br>

<% @npos.each do |npo| %>
    <div class="iconbox iconbox-green">
    <div class="box-title box-head-green"><%= link_to npo.corporate_name, npo %></div>
    <div class="iconbox-wrap">
    <div class="box-content">
    <p><%= npo.field %></p>
    </div>
    <div class="iconballoon">
    <div class="icon"><%= image_tag 'noimage.png', :size =>'70x70' %></div>
    </div>
    </div>
    </div>
<% end %>

<%= paginate(@npos) %>