<p id="notice"><%= notice %></p>
<% content_for :title do %>
  <%= "掲載企業一覧 | PR-LABO" %>
<% end %>
<% breadcrumb :companies %>

<div class="search-form">
<%= form_tag(companies_path, :method => "get") do %>
<%= text_field_tag :search,'',placeholder: "法人名を入力" %> 
<%= submit_tag "検索" ,:username => nil ,class: "button is-info"%> 
<% end %> 
</div>
<br>
<br>


<% @companies.each do |company| %>
    <div class="iconbox iconbox-pink">
    <div class="box-title box-head-pink"><%= link_to company.corporate_name, company %></div>
    <div class="iconbox-wrap">
    <div class="box-content">
    <p><%= company.pr %></p>
    </div>
    <div class="iconballoon">
    <div class="icon"><%= image_tag 'noimage.png', :size =>'70x70' %></div>
    </div>
    </div>
    </div>
<% end %>

<%= paginate(@companies) %>
