<p id="notice"><%= notice %></p>

<% breadcrumb :companies %>

<% @companies.each do |company| %>
    <div class="iconbox iconbox-blue">
    <div class="box-title box-head-blue"><%= link_to company.company_name, company %></div>
    <div class="iconbox-wrap">
    <div class="box-content">
    <p><%= company.pr %></p>
    </div>
    <div class="iconballoon">
    <div class="icon"><%= image_tag 'noimage.png', :size =>'70x70' %></div>
    </div>
    </div>
    </div>
<% end %>

<%= paginate(@companies) %>
