<p id="notice"><%= notice %></p>

<% content_for :markup do %>
<script type="application/ld+json">
{
    "@context" : "https://schema.org",
    "@type" : "Organization",
    "name" : "<%= @company.corporate_name %>",
    "address": "<%= @company.address %>"
}
</script>
<% end %>

<% content_for :title do %>
  <%= @company.corporate_name + "について詳しく紹介 | PR-LABO" %>
<% end %>

<h1 class="companytitle"><%= @company.corporate_name %></h1>
<br>
<% breadcrumb :company, @company %>
<br>
<div class="box27">
    <span class="box-title">会社紹介</span>
    <p><%= simple_format(@company.pr) %></p>
</div>

<p>
  <%= image_tag @company.img.url if @company.img? %>
</p>

<table class="table03">
  <tr>
    <th>会社名</th>
    <td><%= @company.corporate_name %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @company.address %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @company.postal_code %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @company.tel_number %></td>
  </tr>
  <tr>
    <th>設立</th>
    <td><%= @company.establishment %></td>
  </tr>
  <tr>
    <th>資本金</th>
    <td><%= @company.capital %></td>
  </tr>
  <tr>
    <th>事業領域</th>
    <td><%= @company.work_field %></td>
  </tr>
  <tr>
    <th>代表者</th>
    <td><%= @company.representative %></td>
  </tr>
</table>

<div class="parent clearfix">
<% if params[:id].to_i > 1 %>
    <div class="left"><%= link_to '前のページへ', company_path(params[:id].to_i - 1) %></div>
<% end %>
<% if params[:id].to_i < 26956 %>
    <div class="right"><%= link_to '次のページへ', company_path(params[:id].to_i + 1) %></div>
<% end %>
</div>
<br>
<br>
<%= link_to '企業一覧へ', companies_path %>
