<p id="notice"><%= notice %></p>
<% content_for :title do %>
  <%= @company.company_name + "の詳細情報 | PR-LABO" %>
<% end %>

<h1 class="companytitle"><%= @company.company_name %></h1>
<br>
<br>
<p class="boldfont"><%= simple_format(@company.pr) %></p>

<p>
  <%= image_tag @company.img.url if @company.img? %>
</p>

<table class="table03">
  <tr>
    <th>会社名</th>
    <td><%= @company.company_name %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @company.address %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @company.postal_code %></td>
  </tr>
    <tr>
    <th>仕事内容</th>
    <td><%= simple_format(@company.pr) %></td>
  </tr>
</table>


<%#= link_to 'Edit', edit_npo_path(@npo) %> 
<%= link_to 'Back', root_path %>