<p id="notice"><%= notice %></p>

<% text_unregisterd = "まだ情報が登録されていません。" %>

<% content_for :markup do %>
<script type="application/ld+json">
{
    "@context" : "https://schema.org",
    "@type" : "Organization",
    "name" : "<%= @company.corporate_name %>",
    "address": "<%= @company.address %>"
}
</script>
<% end %>

<% content_for :smallchat do %>
<script src="https://embed.small.chat/T0197V2KEN5G019K64PWHE.js" async></script>
<% end %>

<% content_for :title do %>
  <%= @company.corporate_name + "を詳しく紹介！広報・採用・情報発信なら | PR-LABO" %>
<% end %>

<h1 class="companytitle"><%= @company.corporate_name %></h1>
<br>
<% breadcrumb :company, @company %>
<br>
<div class="box27">
    <span class="box-title">会社紹介</span>
    <p><%= @company.pr.present? ? simple_format(@company.pr) : text_unregisterd %></p>
</div>

<br>
<div class="box27">
    <span class="box-title">採用情報</span>
    <p><%= @company.pr.present? ? simple_format(@company.pr) : text_unregisterd %></p>
</div>
<br>

<div class="box27">
    <span class="box-title">イベント情報</span>
    <p><%= @company.pr.present? ? simple_format(@company.pr) : text_unregisterd %></p>
</div>
<br>

<div class="box27">
    <span class="box-title">よくある質問</span>
    <p><%= @company.pr.present? ? simple_format(@company.pr) : text_unregisterd %></p>
</div>

<p>
  <%= image_tag @company.img.url if @company.img? %>
</p>

<table class="table03">
  <tr>
    <th>会社名</th>
    <td><%= @company.corporate_name %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @company.address %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @company.postal_code %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td>
    <%= @company.tel_number.present? ? @company.tel_number : text_unregisterd %>
    </td>
  </tr>
  <tr>
    <th>設立</th>
    <td><%= @company.establishment.present? ? @company.establisment : text_unregisterd %></td>
  </tr>
  <tr>
    <th>資本金</th>
    <td><%= @company.capital.present? ? @company.capital : text_unregisterd %></td>
  </tr>
  <tr>
    <th>事業領域</th>
    <td><%= @company.work_field.present? ? @company.work_field : text_unregisterd %></td>
  </tr>
  <tr>
    <th>代表者</th>
    <td><%= @company.representative? ? @company.representative : text_unregisterd %></td>
  </tr>
</table>

<div class="parent clearfix">
<% if params[:id].to_i > 1 %>
    <div class="left"><%= link_to '前のページへ', company_path(params[:id].to_i - 1) %></div>
<% end %>
<% if params[:id].to_i < 26956 %>
    <div class="right"><%= link_to '次のページへ', company_path(params[:id].to_i + 1) %></div>
<% end %>
</div>
<br>
<br>
<%= link_to '企業一覧へ', companies_path %>
<br>
<br>
<br>
<center>
<h1 class="form-h1">お問い合わせフォーム</h1>
<br>
<p>PR-LABOは「企業・法人の魅力を発信する」Webサービスです。</p>
<p>WEBを使った集客・採用活動を始めてみませんか？</p>
<p>不明点などあれば下記フォームからお気軽にお問い合わせください。</p>
<br>
<%= form_with url: companymail_path, local: true do |f| %>
  <div class="field">
    <strong><%= f.label :法人名 %></strong>
    <%= f.text_field :corporate_name, value: @company.corporate_name %>
  </div>
  <br>
  <div class="field">
    <strong><%= f.label :お名前 %></strong>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <strong><%= f.label :メールアドレス %></strong>
    <%= f.text_field :email %>
  </div>
  <br>
    <div class="field">
    <strong><%= f.label :お問い合わせ内容 %></strong>
    <%= f.text_area :text , :size => "50x15" %>
  </div>
  <div class="actions">
  <%= f.submit "送信" %>
  </div>
<% end %>
</center>