<p id="notice"><%= notice %></p>

<h1>Manufactures</h1>

<table>
  <thead>
    <tr>
      <th>Corporate name</th>
      <th>Category</th>
      <th>Industry</th>
      <th>Address</th>
      <th>Tel number</th>
      <th>Establishment</th>
      <th>Capital</th>
      <th>Employees</th>
      <th>Postal code</th>
      <th>Official site</th>
      <th>Img</th>
      <th>Pr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manufactures.each do |manufacture| %>
      <tr>
        <td><%= manufacture.corporate_name %></td>
        <td><%= manufacture.category %></td>
        <td><%= manufacture.industry %></td>
        <td><%= manufacture.address %></td>
        <td><%= manufacture.tel_number %></td>
        <td><%= manufacture.establishment %></td>
        <td><%= manufacture.capital %></td>
        <td><%= manufacture.employees %></td>
        <td><%= manufacture.postal_code %></td>
        <td><%= manufacture.official_site %></td>
        <td><%= manufacture.img %></td>
        <td><%= manufacture.pr %></td>
        <td><%= link_to 'Show', manufacture %></td>
        <td><%= link_to 'Edit', edit_manufacture_path(manufacture) %></td>
        <td><%= link_to 'Destroy', manufacture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manufacture', new_manufacture_path %>
