<p id="notice"><%= notice %></p>

<p>
  <strong>Corporate name:</strong>
  <%= @manufacture.corporate_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @manufacture.category %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @manufacture.industry %>
</p>

<p>
  <strong>Address:</strong>
  <%= @manufacture.address %>
</p>

<p>
  <strong>Tel number:</strong>
  <%= @manufacture.tel_number %>
</p>

<p>
  <strong>Establishment:</strong>
  <%= @manufacture.establishment %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @manufacture.capital %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @manufacture.employees %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @manufacture.postal_code %>
</p>

<p>
  <strong>Official site:</strong>
  <%= @manufacture.official_site %>
</p>

<p>
  <strong>Img:</strong>
  <%= @manufacture.img %>
</p>

<p>
  <strong>Pr:</strong>
  <%= @manufacture.pr %>
</p>

<%= link_to 'Edit', edit_manufacture_path(@manufacture) %> |
<%= link_to 'Back', manufactures_path %>
