<p id="notice"><%= notice %></p>
<% content_for :title do %>
  <%= "掲載NPO一覧 | PR-LABO" %>
<% end %>

<% breadcrumb :npos %>
<div class="search-form">
<%= form_tag(npos_path, :method => "get") do %>
<%= text_field_tag :search,'',placeholder: "法人名を入力" %> 
<%= submit_tag "検索" ,:username => nil ,class: "button is-info"%> 
<% end %> 
</div>
<br>
<br>

<% @npos.each do |npo| %>
    <div class="iconbox iconbox-green">
    <div class="box-title box-head-green"><%= link_to npo.corporate_name, npo %></div>
    <div class="iconbox-wrap">
    <div class="box-content">
    <p><%= npo.field %></p>
    </div>
    <div class="iconballoon">
    <div class="icon"><%= image_tag 'noimage.png', :size =>'70x70' %></div>
    </div>
    </div>
    </div>
<% end %>

<%= paginate(@npos) %>