<p id="notice"><%= notice %></p>

<% content_for :markup do %>
  <script type="application/ld+json">
{
    "@context" : "https://schema.org",
    "@type" : "Organization",
    "name" : "<%= @npo.corporate_name %>",
    "address": "<%= @npo.address %>"
}
</script>
<% end %>

<% content_for :title do %>
  <%= @npo.corporate_name + "の詳細情報 | PR-LABO" %>
<% end %>
<% breadcrumb :npo, @npo %>

<table class="table03">
  <tr>
    <th>会社名</th>
    <td><%= @npo.corporate_name %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @npo.address %></td>
  </tr>
  <tr>
    <th>代表者名</th>
    <td><%= @npo.representative %></td>
  </tr>
  <tr>
    <th>設立認証年月日</th>
    <td><%= @npo.certification_date %></td>
  </tr>
  <tr>
    <th>定款に記載された目的</th>
    <td><%= @npo.establish_purpose %></td>
  </tr>
  <tr>
    <th>分野</th>
    <td><%= @npo.field %></td>
  </tr>
</table>


<%#= link_to 'Edit', edit_npo_path(@npo) %> 
<%= link_to 'Back', root_path %>

