<p id="notice"><%= notice %></p>

<% text_unregisterd = "まだ情報が登録されていません。" %>

<% content_for :markup do %>
  <script type="application/ld+json">
{
    "@context" : "https://schema.org",
    "@type" : "Organization",
    "name" : "<%= @npo.corporate_name %>",
    "address": "<%= @npo.address %>",
    "founder":"<%= @npo.representative %>",
    "foundingDate":"<%= @npo.certification_date %>", 
    "description" : "<%= @npo.establish_purpose %>"
}
</script>
<% end %>

<% content_for :smallchat do %>
<script src="https://embed.small.chat/T0197V2KEN5G019K64PWHE.js" async></script>
<% end %>


<% content_for :title do %>
  <%= @npo.corporate_name + "を詳しく紹介！広報・採用・情報発信なら | PR-LABO" %>
<% end %>
<% breadcrumb :npo, @npo %>

<h1 class="companytitle"><%= @npo.corporate_name %></h1>
<br>

<div class="box27">
    <span class="box-title">法人紹介</span>
    <p><%= @npo.pr.present? ? simple_format(@npo.pr) : text_unregisterd %></p>
</div>
<br>
<div class="box27">
    <span class="box-title">採用情報</span>
    <p><%= @npo.pr.present? ? simple_format(@npo.pr) : text_unregisterd %></p>
</div>
<br>
<div class="box27">
    <span class="box-title">イベント情報</span>
    <p><%= @npo.pr.present? ? simple_format(@npo.pr) : text_unregisterd %></p>
</div>
<br>
<div class="box27">
    <span class="box-title">よくある質問</span>
    <p><%= @npo.pr.present? ? simple_format(@npo.pr) : text_unregisterd %></p>
</div>

<p>
  <%= image_tag @npo.img.url if @npo.img? %>
</p>

<table class="table03">
  <tr>
    <th>会社名</th>
    <td><%= @npo.corporate_name %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @npo.address %></td>
  </tr>
  <tr>
    <th>代表者名</th>
    <td><%= @npo.representative %></td>
  </tr>
  <tr>
    <th>設立認証年月日</th>
    <td><%= @npo.certification_date %></td>
  </tr>
  <tr>
    <th>定款に記載された目的</th>
    <td><%= @npo.establish_purpose %></td>
  </tr>
  <tr>
    <th>分野</th>
    <td><%= @npo.field %></td>
  </tr>
</table>


<div class="parent clearfix">
<% if params[:id].to_i > 1 %>
    <div class="left"><%= link_to '前のページへ', npo_path(params[:id].to_i - 1) %></div>
<% end %>
<% if params[:id].to_i < 29478 %>
    <div class="right"><%= link_to '次のページへ', npo_path(params[:id].to_i + 1) %></div>
<% end %>
</div>
<br>
<br>
<%= link_to 'NPO法人一覧へ', npos_path %>
<br>
<br>
<br>
<center>
<h1 class="form-h1">お問い合わせフォーム</h1>
<br>
<p>PR-LABOは「企業・法人の魅力を発信する」Webサービスです。</p>
<p>WEBを使った集客・採用活動を始めてみませんか？</p>
<p>不明点などあれば下記フォームからお気軽にお問い合わせください。</p>
<br>
<%= form_with url: mail_path, local: true do |f| %>
  <div class="field">
    <strong><%= f.label :法人名 %></strong>
    <%= f.text_field :corporate_name, value: @npo.corporate_name %>
  </div>
  <br>
  <div class="field">
    <strong><%= f.label :お名前 %></strong>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <strong><%= f.label :メールアドレス %></strong>
    <%= f.text_field :email %>
  </div>
  <br>
    <div class="field">
    <strong><%= f.label :お問い合わせ内容 %></strong>
    <%= f.text_area :text , :size => "50x15" %>
  </div>
  <div class="actions">
  <%= f.submit "送信" %>
  </div>
<% end %>
</center>
